<app-top-bar></app-top-bar>

<div class="row">

  <!-- Cards with counting summary -->
  <!-- <app-card-md4
    *ngFor="let report of reportsWithNumbersColumns"
    class="col-md-4"
    [cardName]="fn.toUpperCamelCase(report.name)"
    [cardNumber]="reportsWithNumbers[report.name]"
    [iconName]="report.iconName"
    [bgColor]="report.bgColor"
    [textColor]="report.textColor"
    [allDataUrl]="report.allDataUrl"
  ></app-card-md4> -->

  <!-- Simple Table -->
  <!-- <app-simple-table
    cardName="Card Name"
    allDataUrl="/url/to-page"
    [data]="tableData"
    [columns]="tableColumns"
  ></app-simple-table> -->
</div>
