<app-top-bar></app-top-bar>

<div class="card mb-4 shadow">
  <div class="card-header bg-primary text-white">
    <h5 class="p-0 m-0 font-weight-750">
      <i class="bi bi-file-text-fill"></i>
      Summary
    </h5>
  </div>
  <div class="card-body">
    <div class="row">
      <!-- Cards with counting summary -->
      <app-card-md4
        *ngFor="let datum of data"
        class="col-md-4"
        [cardName]="datum[0].name"
        [cardNumber]="datum[0].value"
        [iconName]="datum[1].iconName"
        [bgColor]="datum[1].bgColor"
        [textColor]="datum[1].textColor"
        [allDataUrl]="datum[1].allDataUrl"
      ></app-card-md4>
    </div>
  </div>
</div>

<div class="card mb-4 shadow">
  <div class="card-header bg-primary text-white">
    <h5 class="p-0 m-0 font-weight-750">
      <i class="bi bi-ui-radios"></i>
      Automations
    </h5>
  </div>
  <div class="table-responsive py-4" id="htmlData" #htmlData>
    <div class="dataTable-wrapper dataTable-loading no-footer fixed-columns">
      <table datatable [dtOptions]="dtOptions" class="table table-flush dataTable-table" id="htmlData">
        <thead class="thead-light">
        <tr>
          <th>ID</th>
          <th>Sensor Name</th>
          <th>Sensor Column</th>
          <th>Operation</th>
          <th>Compared Value</th>
          <th>Actuator Name</th>
          <th>Actuator State</th>
        </tr>
        </thead>
        <tbody *ngIf="data?.length != 0">
        <ng-container *ngFor="let datum of  automationData; let i = index">
          <tr>
            <th>{{ datum.id }}</th>
            <td>{{ datum.sensor_name ?? 'N/A' }}</td>
            <td>{{ datum.column_name ?? 'N/A' }}</td>
            <td>{{ fn.comparisonToEnglish(datum.comparison_operation) }}</td>
            <td>{{ datum.value ?? 'N/A' }}</td>
            <td>{{ datum.actuator_name ?? 'N/A' }}
              <span *ngIf="datum.is_active_low" class="badge bg-warning">AL</span>
            </td>
            <td *ngIf="(datum.is_switched_on && !datum.is_active_low) || (!datum.is_switched_on && datum.is_active_low)">
              <div class="badge bg-success">ON</div>
            </td>
            <td *ngIf="(!datum.is_switched_on && !datum.is_active_low) || (datum.is_switched_on && datum.is_active_low)">
              <div class="badge bg-danger">OFF</div>
            </td>
          </tr>
        </ng-container>
        <tbody *ngIf="data?.length == 0">
          <tr>
            <th colspan="3">No data found.</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
