<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="g-lg-5 py-5">
    <div class="w-100">
      <label class="text-center w-100 mb-3">
        <a routerLink="">
          <img [src]="config.app.logoUrl" alt="" height="100">
        </a>
      </label>
      <div class="card mb-4 rounded-3 mx-auto">
        <div class="card-header py-3 bg-primary text-white">
          <h5 class="text-center p-0 m-0">Register your account on {{ config.app.name }}</h5>
        </div>
        <div class="card-body">
          <form class="p-1" [formGroup]="form" (ngSubmit)="onSubmit()" autocomplete="off">
            <!-- name -->
            <div class="form-floating mb-3">
              <input
                formControlName="name"
                [class.invalid]="name?.touched && name?.invalid"
                type="text"
                class="form-control"
                id="floatingname"
                placeholder="Full Name"
              >
              <label for="floatingname">Full Name</label>
              <p class="text-danger font-weight-bold p-0 m-0" *ngIf="name?.touched && name?.invalid">{{ name?.errors?.message }}</p>
            </div>

            <!-- Email -->
            <div class="form-floating mb-3">
              <input
                formControlName="email"
                [class.invalid]="email?.touched && email?.invalid"
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              >
              <label for="floatingInput">Email address</label>
              <p class="text-danger font-weight-bold p-0 m-0" *ngIf="email?.touched && email?.invalid">{{ email?.errors?.message }}</p>
            </div>

            <!-- formGroup for password & confirm password -->
            <div formGroupName="passwords">
              <!-- Password -->
              <div class="form-floating mb-3">
                <input
                formControlName="password"
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
                [class.invalid]="password?.touched && password?.invalid"
                >
                <label for="floatingPassword">Password</label>
                <p class="text-danger font-weight-bold p-0 m-0" *ngIf="password?.touched && password?.invalid">{{ password?.errors?.message }}</p>
              </div>

              <!-- Confirm Password -->
              <div class="form-floating mb-3">
                <input
                formControlName="confirmPassword"
                type="password"
                class="form-control"
                id="floatingConfirmPassword"
                placeholder="Confirm Password"
                [class.invalid]="confirmPassword?.touched && confirmPassword?.invalid"
                >
                <label for="floatingConfirmPassword">Confirm Password</label>
                <p class="text-danger font-weight-bold p-0 m-0" *ngIf="confirmPassword?.touched && confirmPassword?.invalid">{{ confirmPassword?.errors?.message }}</p>
                <p class="text-danger font-weight-bold p-0 m-0" *ngIf="confirmPassword?.touched && passwords?.invalid && confirmPassword?.valid">{{ passwords?.errors?.message }}</p>
              </div>
            </div>
            <!-- <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me"> Remember me
              </label>
            </div> -->
            <button
              class="w-100 btn btn-lg btn-primary"
              [class.disabled]="form.invalid"
              [type]="form.valid ? 'submit' : 'button'"
              >
              Register Now!
              <i class="bi bi-check-circle"></i>
            </button>
            <hr class="my-4">
            <label class="text-muted text-center w-100">Have an account?
              <a routerLink="/login">
                <u>Login here</u>
              </a>
            </label>
          </form>
        </div>
      </div>
    </div>
    </div>
  </div>
