<!-- Connect to hardware -->
<div class="connect-button" *ngIf="connectBoardAction" (click)="modal.open(modalConnectBoard, modalConnectBoardSize)">
  <div class="status-connect-button">
    <i class="bi bi-circle-fill text-{{ boardState.isOnline ? 'success' : 'danger' }}"></i>
  </div>
  <div class="status-connect-text">
    <h1 class="connection-status">
      {{ boardState.boardName ? ( boardState. isOnline ? "Connected" : "Offline") : "Not Linked!" }}
    </h1>
    <p class="connection-board">
      {{ boardState.boardName ? boardState.boardName : "Click to connect" }}
    </p>
  </div>
</div>

<!-- Connect Modal with Dynamic Form Loading -->
<ng-template #modalConnectBoard let-modalv let-c="close" let-d="dismiss" class="p-0">
  <div class="modal-header">
      <h2 class="h6 modal-title">
        <i class="bi bi-{{ iconNameConnectBoard }}"></i>
        {{ headingConnectBoard }}</h2>
      <button type="button" class="btn-close" (click)="modalv.dismiss('Cross click')"></button>
  </div>
  <div class="modal-body">
    <ng-container *ngComponentOutlet="modalConnectBoardContent; injector: dataInjected"></ng-container>
  </div>
</ng-template>
