<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="g-lg-5 py-5">
      <div class="card mb-4 rounded-3 mx-auto">
        <div class="card-header py-3 px-5">
          <label class="text-center w-100 mb-3">
            <a routerLink="">
              <img [src]="config.app.logoUrl" alt="" height="100" />
            </a>
          </label>
          <h3 class="text-center font-weight-900 p-0 m-0">
            How It Works<br/>
            <app-progress-tabs active="library"></app-progress-tabs>
          </h3>
        </div>
        <div class="card-body">
          <p class="text-center">
            <img src="./assets/images/how-to/library.png" class="img-thumbnail" width="500" alt="Turn ON/OFF LED">
          </p>
          <p class="mt-3 text-center">
            Download Library at <a href="https://github.com/eltiwany/konekted-iot-library" target="_blank">https://github.com/eltiwany/konekted-iot-library</a> and change the following details on the example provided
           <span class="badge bg-warning">konekted_token</span>,
           <span class="badge bg-warning">wifi_name</span>,
           <span class="badge bg-warning">wifi_password</span>
            and upload the sketch, after that we are almost done!
          </p>
          <p class="text-center">
            <a type="button" routerLink="/how-it-works/connect" class="btn btn-info mt-4">Next Step: Connect Devices (LED) <i class="bi bi-arrow-right-circle-fill"></i></a>
          </p>
        </div>
      </div>
  </div>
</div>
