<app-top-bar
  [clearLogsButton]="true"
  [modalClearLogsContent]="modalComponent"
></app-top-bar>

<div class="card">
  <div class="table-responsive py-4" id="htmlData" #htmlData>
    <div class="dataTable-wrapper dataTable-loading no-footer fixed-columns">
      <table datatable [dtOptions]="dtOptions" class="table table-flush dataTable-table" id="htmlData">
        <thead class="thead-light">
        <tr>
          <th [width]="50">SN</th>
          <th>Full Name</th>
          <th>Email</th>
          <th>Page Accessed</th>
          <th>Action Performed</th>
          <th>Created At</th>
        </tr>
        </thead>
        <tbody *ngIf="data?.length != 0">
        <tr *ngFor="let datum of  data; let i = index">
          <th>{{ i + 1 }}</th>
          <td>{{ datum.name }}</td>
          <td>{{ datum.email }}</td>
          <td>{{ datum.page }}</td>
          <td>{{ datum.action }}</td>
          <td>{{ datum.created_at | date:'medium' }}</td>
        </tr>
        <tbody *ngIf="data?.length == 0">
          <tr>
            <th colspan="3">No data found.</th>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
