<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="align-self-center g-5 py-5 w-full">
    <label class="text-center w-100 mb-3">
      <a routerLink="">
        <img [src]="config.app.logoUrl" alt="" height="100">
      </a>
    </label>
    <div class="">
      <div class="card border-0 shadow">
        <div class="card-header bg-dark text-white border-bottom">
          <h2 class="fs-5 fw-bold mb-1">
            <a routerLink="/">Home</a> /
            Projects
          </h2>
        </div>
        <div class="card-body">
          <div
            class="row align-items-center d-block d-sm-flex border-bottom pb-4 mb-4"
          >
            <div class="col-auto mb-3 mb-sm-0">
              <div class="calendar d-flex">
                <span class="calendar-month">Aug</span
                ><span class="calendar-day py-2">10</span>
              </div>
            </div>
            <div class="col">
              <a href="../calendar.html"><h3 class="h5 mb-1">Newmarket Nights</h3></a
              ><span>Organized by <a href="#">University of Oxford</a></span>
              <div class="small fw-bold">Time: 6:00AM</div>
              <span class="small fw-bold">Place: Cambridge Boat Club, Cambridge</span>
            </div>
          </div>
          <div
            class="row align-items-center d-block d-sm-flex border-bottom pb-4 mb-4"
          >
            <div class="col-auto mb-3 mb-sm-0">
              <div class="calendar d-flex">
                <span class="calendar-month">Sep</span
                ><span class="calendar-day py-2">12</span>
              </div>
            </div>
            <div class="col">
              <a href="../calendar.html"><h3 class="h5 mb-1">Noco Hemp Expo</h3></a
              ><span>Organized by <a href="#">University of Oxford</a></span>
              <div class="small fw-bold">Thu, 12 Sep - Sat, 18 Sep 2020</div>
              <span class="small fw-bold">Place: Denver Expo Club, USA</span>
            </div>
          </div>
          <div
            class="row align-items-center d-block d-sm-flex border-bottom pb-4 mb-4"
          >
            <div class="col-auto mb-3 mb-sm-0">
              <div class="calendar d-flex">
                <span class="calendar-month">Sep</span
                ><span class="calendar-day py-2">15</span>
              </div>
            </div>
            <div class="col">
              <a href="../calendar.html"
                ><h3 class="h5 mb-1">EmTech MIT Conference</h3></a
              ><span>Organized by <a href="#">MIT</a></span>
              <div class="small fw-bold">Thu, 12 Sep - Sat, 18 Sep 2020</div>
              <span class="small fw-bold">Place: California, USA</span>
            </div>
          </div>
          <div class="row d-block d-sm-flex align-items-center">
            <div class="col-auto mb-3 mb-sm-0">
              <div class="calendar d-flex">
                <span class="calendar-month">Sep</span
                ><span class="calendar-day py-2">28</span>
              </div>
            </div>
            <div class="col">
              <a href="../calendar.html"
                ><h3 class="h5 mb-1">Canadian National Exhibition (CNE)</h3></a
              ><span>Organized by <a href="#">University of Oxford</a></span>
              <div class="small fw-bold">Fri, 20 Sep - Mon, 07 Oct 2020</div>
              <span class="small fw-bold">Place: Toronto , Canada</span>
            </div>
          </div>
        </div>
        <div class="card-footer border-top bg-gray-50">
          <a
            class="fw-bold d-flex align-items-center justify-content-center"
            href="../calendar.html"
            ><svg
              class="icon icon-xs me-2"
              fill="currentColor"
              viewBox="0 0 20 20"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path d="M10 12a2 2 0 100-4 2 2 0 000 4z"></path>
              <path
                fill-rule="evenodd"
                d="M.458 10C1.732 5.943 5.522 3 10 3s8.268 2.943 9.542 7c-1.274 4.057-5.064 7-9.542 7S1.732 14.057.458 10zM14 10a4 4 0 11-8 0 4 4 0 018 0z"
                clip-rule="evenodd"
              ></path>
            </svg>
            Load More</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
