<div class="row mb-3">
  <div class="col-12">
    <div class="card border-0 shadow">
      <div class="card-body d-flex justify-content-around">
        <div class="row">
          <div
            class="col-12 text-center align-items-center justify-content-center"
          >
            <label [for]="'toggle' + deviceId" class="pointer icon-shape icon-shape-{{ (isSwitchedOn && !isActiveLow) || (!isSwitchedOn && isActiveLow) ? 'success' : 'primary' }} rounded rounded-bottom-0">
              <span *ngIf="isActiveLow" class="badge bg-warning active-low">AL</span>
              <div>
                <i
                  *ngIf="!isImage"
                  class="bi bi-{{ iconName }} card-icon2 p-3"
                ></i>
                <img *ngIf="isImage" height="185px" class="p-3" [src]="imageUrl" />
              </div>
            </label>
          </div>

          <div [class]="(((isSwitchedOn && !isActiveLow) || (!isSwitchedOn && isActiveLow)) ? 'bg-green' : 'bg-gray') + ' switch rounded rounded-top-0 p-5'">
            <h1 class="fw-extrabold mb-2 text-center mb-4">{{ deviceName }}</h1>

            <div class="toggle-div">
              <input
                [id]="'toggle' + deviceId"
                class="toggle"
                type="checkbox"
                role="switch"
                name="toggle"
                [defaultChecked]="((isSwitchedOn && !isActiveLow) || (!isSwitchedOn && isActiveLow))"
                value="on"
                (change)="onChecked($event, deviceId)"
              />
              <label [for]="'toggle' + deviceId" class="slot">
                <span class="slot__label">OFF</span>
                <span class="slot__label">ON</span>
              </label>
            </div>
          </div>
          <div class="curtain"></div>
        </div>
      </div>
    </div>
  </div>
</div>
