<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="g-lg-5 py-5">
    <div class="w-100">
      <div class="card mb-4 rounded-3 mx-auto">
        <div class="card-header py-3 px-5">
          <label class="text-center w-100 mb-3">
            <a routerLink="">
              <img [src]="config.app.logoUrl" alt="" height="100" />
            </a>
          </label>
          <h4 class="text-center font-weight-900 p-0 m-0">
            How It Works<br/>
            <app-progress-tabs active="registration"></app-progress-tabs>
          </h4>
        </div>
        <div class="card-body">
          <p class="text-center">
            <img src="./assets/images/how-to/registration.png" class="img-thumbnail" width="500" alt="Turn ON/OFF LED">
          </p>
          <p class="text-center mt-3" style="float: left;">
            Inorder to use konekted services to monitor and control devices, you need to create an account by simply go home page and click <span class="badge bg-primary">Create Your Account Now!</span> button and fill in the details, after that use the email and password to login.
          </p>
          <p class="text-center">
            <a type="button" routerLink="/how-it-works/link-board" class="btn btn-info mt-4">Next Step: Login and Link Board <i class="bi bi-arrow-right-circle-fill"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
