<div class="progress-tabs">
  <a routerLink="/how-it-works/example" [class]="'badge mx-1 ' + (active == 'example' ? 'bg-info' : 'bg-warning')">Example</a>
  <a routerLink="/how-it-works/registration" [class]="'badge mx-1 ' + (active == 'registration' ? 'bg-info' : 'bg-warning')">Registration</a>
  <a routerLink="/how-it-works/link-board" [class]="'badge mx-1 ' + (active == 'link' ? 'bg-info' : 'bg-warning')">Link Board</a>
  <a routerLink="/how-it-works/library" [class]="'badge mx-1 ' + (active == 'library' ? 'bg-info' : 'bg-warning')"> Library </a>
  <a routerLink="/how-it-works/connect" [class]="'badge mx-1 ' + (active == 'connect' ? 'bg-info' : 'bg-warning')">Connection</a>
  <a routerLink="/how-it-works/mnc" [class]="'badge mx-1 ' + (active == 'mnc' ? 'bg-info' : 'bg-warning')">Monitor & Control</a>
</div>
