<div class="p-1">
  <div class="form-floating mb-3">
    <input
      type="email"
      class="form-control"
      id="floatingEmail"
      placeholder="Email"
      [value]="data.email"
      readonly
    >
    <label for="floatingEmail">Email</label>
   </div>
  <div class="form-floating mb-3">
    <input
      type="text"
      class="form-control"
      id="floatingRole"
      placeholder="Role"
      [value]="data.role_name"
      readonly
    >
  <label for="floatingRole">Role</label>
    </div>
</div>
