<div class="container d-flex align-items-center justify-content-center h-100">
  <div class="g-lg-5 py-5">
    <div class="w-100">
      <div class="card mb-4 rounded-3 mx-auto">
        <div class="card-header py-3 px-5">
          <label class="text-center w-100 mb-3">
            <a routerLink="">
              <img [src]="config.app.logoUrl" alt="" height="100" />
            </a>
          </label>
          <h4 class="text-center font-weight-900 p-0 m-0">
            How It Works<br/>
            <app-progress-tabs
            ></app-progress-tabs>
          </h4>
        </div>
        <div class="card-body">
          <p class="text-center">
            <img src="./assets/images/how-to/turn-onoff-led.jpg" class="img-thumbnail" width="300" alt="Turn ON/OFF LED">
          </p>
          <p class="text-center mt-3">
            To understand this platform better, let's understand it with example of controlling light (LED) with our mobile phone!
            Make sure you have <span class="badge bg-primary">Breadboard</span>, <span class="badge bg-primary">NodeMCE ESP8266 Board</span> and <span class="badge bg-primary">LED</span> and connect LED such such shorter leg is connected to <span class="badge bg-danger">GND</span> and longer leg is connect to any pin let's say <span class="badge bg-danger">D2</span>
          </p>
          <p class="text-center">
            <a type="button" routerLink="/how-it-works/registration" class="btn btn-info mt-4">Next Step: Register Account <i class="bi bi-arrow-right-circle-fill"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
